<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"></include>

    <logger name="com.mypro" level="DEBUG"/>

    <logger name="com.atomikos" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>